@font-face {
    font-family: 'Groupe Medium';
    src: url(../BladerunnerComplete/Fonts/GroupeMedium.woff2) format('woff2');
    src: url(../BladerunnerComplete/Fonts/GroupeMedium.svg#GROUPE-MEDIUM) format('svg');
}

@font-face {
    font-family: 'Kovacs Gradient';
    src: url(../BladerunnerComplete/Fonts/KovacsGradient.woff2) format('woff2');
    src: url(../BladerunnerComplete/Fonts/KovacsGradient.svg) format('svg');
}

@font-face {
    font-family: 'Kovacs Laser';
    src: url(../BladerunnerComplete/Fonts/KovacsLaser.woff2) format('woff2');
    src: url(../BladerunnerComplete/Fonts/KovacsLaser.svg) format('svg');
}

@font-face {
    font-family: 'Realpolitik';
    src: url(../BladerunnerComplete/Fonts/Realpolitik.woff2) format('woff2');
    src: url(../BladerunnerComplete/Fonts/Realpolitik.svg) format('svg');
}

@font-face {
    font-family: 'RealpolitikBold';
    src: url(../BladerunnerComplete/Fonts/RealpolitikBold.woff2) format('woff2');
    src: url(../BladerunnerComplete/Fonts/RealpolitikBold.svg) format('svg');
}

@font-face {
    font-family: 'RealpolitikSemiBold';
    src: url(../BladerunnerComplete/RealpolitikSemiBold.woff2) format('woff2');
    src: url(../BladerunnerComplete/RealpolitikSemiBold.svg) format('svg');
}

/*___________________________________*/

/*SnapScroll*/

/*___________________________________*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url('../BladerunnerComplete/Images/Backdrop.png');

}

.bigcontainer {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    white-space: nowrap;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
}

.scene {
    width: auto;
    height: 100%;
    display: flex;
    scroll-snap-align: center;

}

.filmstill-container {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.green {
    background-image: url('');
}

.pink {
    background-image: url('');
}

.blue {
    background-image: url('');
}

.yellow {
    background-image: url('');
}

.grey {
    background-image: url('');
}


/*___________________________________*/

/*Left*/

/*___________________________________*/


.side-container {
    /*border: 1px solid red;
    margin: 4vh 0vw 0vh 5vw;
    padding: 10px;
*/
    height: 100vh;
    width: calc((100vw / 40) * 7);
    position: fixed;
    top: calc(100vh / 18.5);
    left: calc(100vw / 20);
    display: flex;
    flex-direction: column;
    justify-content: start;
    mix-blend-mode: lighten;

}

.vid-content {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    mix-blend-mode: normal;
    margin-top: calc((100vh / 11) * 0.5);
    padding-top: 0px;
    padding-bottom: 0;
    margin: 0;
    height: calc((100vh / 11) * 2.5);
    
}

.vid-content iframe {
    mix-blend-mode: normal;
    text-decoration: none;
    border: 0;
    
    width: calc((100vw / 35) * 5);
    height: calc((100vh / 11) * 1.6);
    margin-bottom: 1vh;
}


#timer {
    height: 1vh;
    
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Groupe Medium';
    color: rgb(171, 255, 248);
    text-shadow: 0px 0px 30px #14e9f8;
    
}

.navigation {
    /*margin-top: 20%;*/
    color: rgb(171, 255, 248);
    text-shadow: 0px 0px 30px #14e9f8;
    
    height: calc((100vh / 11) * 6.3);
}

.navigation ul {
    margin: 0;
    padding: 0;
    background-color: #0e154f;
    height: 100%;
}

.navigation ul li {
    list-style-type: none;
    font-family: "Groupe Medium";
    font-size: 1rem;
    padding: 10%;
    color: rgb(255, 222, 73);
    text-shadow: 0px 0px 30px #f81414;

}


/*___________________________________*/

/*Bottom*/

/*___________________________________*/

footer {
    mix-blend-mode: lighten;
    height: 5.5vh;
    position: sticky;
    bottom: 8vh;
    left: 0;
}

.bottom-box {
    height: 40%;

    width: 87.5%;
    
    margin-left: auto;
    margin-right: 7.5vw;
   
    color: white;
    display: flex;
    align-items: center;
}

.bottom-box span {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Groupe Medium", "Noto Sans JP";
    color: rgb(171, 255, 248);
    text-shadow: 0px 0px 30px #14e9f8;
}



#news-ticker {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

#news-text {
    display: inline-block;
    animation: marquee 600s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

header {
    height: 6vh;
    margin: 0px;
    padding: 0;
    color: white;
}

.header-box {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}

/*___________________________________*/

/*Main*/

/*___________________________________*/


.main-container {
    /*
    margin-left: 23vw;
    margin-top: 4vh;
    margin-bottom: auto;
    margin-right: auto;
    */
    /*padding: 10px;*/

    height: 100vh;
    width: 100vw;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.main-container .content {
    padding: 0;
    margin: 0;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-align: center;
    scroll-snap-stop: always;

    background-color: #0e154f;

    width: 77%;

}



.scene-content {

    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /*height: 60%;*/
    mix-blend-mode: normal;
}

.image-content img{
    width: 100%;
    overflow: hidden;
    height: auto;
    
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    mix-blend-mode: lighten;
    /*height: 10vh;*/
    color: white;
    font-size: 2rem;
    
    /*height: 90%; !! HINZUGEFÜGT, CHECKEN OB SACHEN KAPUTTGEHEN*/

}

.main-container h1 {
    padding: 0;
    margin: 0;
    color: rgb(255, 222, 73);
    text-shadow: 0px 0px 30px #f81414;
    font-weight: normal;
    font-size: 4.4rem;
    width: 77%;

}

p {
    color: rgb(171, 255, 248);
    font-family: 'Realpolitik';
    text-align: center;
    font-size: 1rem;
    text-shadow: 0px 0px 30px #14e9f8;
    background-color: #0e154f;
    width: 50%;
    height:100%;
    
    padding-bottom: 8vh;
}

.borderimg {
    border: 50px solid transparent;
    padding: 0px;
    border-image: url(Images/Border/BorderSide1.png) 200 round;
    mix-blend-mode: lighten;
}

.bordervid1 {
    border: 50px solid transparent;
    padding: 0px;
    border-image: url(Images/Border/BorderVid_copy.png) 200 round;
    mix-blend-mode: lighten;
}
.bordervid2 {
    border: 50px solid transparent;
    padding: 0px;
    border-image: url(Images/Border/BorderVid2.png) 200 round;
    mix-blend-mode: lighten;
}


/*___________________________________*/

/*Grid*/

/*___________________________________*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(40, [col-start] 1fr);
    grid-template-rows: repeat(22, [row-start] 1fr);

    gap: 0;
    width: 100vw;
    height: 100vh;
    
}

.itemtitel {
    grid-column: col-start 11 / span 28;
    grid-row: row-start 2 / span 2;
}

.itemimg {
    grid-column: col-start 10 / span 28;
    grid-row: row-start 4 / span 13;
}

.itemtext {
    grid-column: col-start 10 / span 28;
    grid-row: row-start 17 / span 3;
}


/*___________________________________*/

/*Popup*/

/*___________________________________*/

.popup-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 1.7s ease;
    z-index: 1;
    justify-content: center;
    
}

.popup {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    
}

.popup-timer {
    width: auto;
    height: 25px;
    color: #fff;
    position: absolute;
    right: 10px;
    line-height: 25px;
    padding: 0px 10px;
    right: -14px;
    top: -35px;
}

.btn-close {
    background-color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: -36px;
    top: -37px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.btn-close:hover {
    transform: rotate(360deg);
}

.adimg {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.adborderimg {
    border: 50px solid transparent;
    padding: 0px;
    border-image: url(Images/Border/AdBorder.png) 200 round;
    mix-blend-mode: lighten;
}